defaultEntryPoints = ["http", "https"]
logLevel = "INFO"
checkNewVersion = false
sendAnonymousUsage = true
insecureSkipVerify = {{ traefik_insecure_skip_verify | lower }}

[entryPoints]
  [entryPoints.traefik]
    address = ":8000"
    [entryPoints.traefik.auth.basic]
      users = ["{{ traefik_users | join('", "') }}"]
  [entryPoints.http]
    address = ":80"
    [entryPoints.http.redirect]
      entryPoint = "https"
  [entryPoints.https]
    address = ":443"
    [entryPoints.https.tls]
      cipherSuites = {{ traefik_ciphers | to_json }}
{% for cert in traefik_certs %}
      [[entryPoints.https.tls.certificates]]
        CertFile = "/etc/ssl/certs/{{ cert.name }}.pem"
        KeyFile = "/etc/ssl/private/{{ cert.name }}.pem"
{% endfor %}

{% for item in traefik_entrypoints %}
  [entryPoints.{{ item.name }}]
    address = "{{ item.address }}"
{% if item.redirect | default(False) %}
    [entryPoints.{{ item.name }}.redirect]
      entryPoint = "{{ item.redirect }}"
{% endif %}
{% if item.tls | default(False) %}
    [entryPoints.{{ item.name }}.tls]
      cipherSuites = {{ traefik_ciphers | to_json }}
{% for cert in item.certs | default([]) %}
      [[entryPoints.{{ item.name }}.tls.certificates]]
        CertFile = "/etc/ssl/certs/{{ cert.name }}.pem"
        KeyFile = "/etc/ssl/private/{{ cert.name }}.pem"
{% endfor %}
{% endif %}
{% endfor %}

{% if traefik_letsencrypt | default(False) %}
[acme]
  email = "{{ traefik_email }}"
  storage = "/etc/traefik/acme.json"
  entryPoint = "https"
  onHostRule = true

  [acme.httpChallenge]
    entryPoint = "http"
{% endif %}

[api]
  entryPoint = "traefik"
  dashboard = true

[ping]
  entryPoint = "traefik"

[metrics]
  [metrics.prometheus]
    entryPoint = "traefik"
    buckets = [0.1, 0.3, 1.2, 5.0]

[docker]
  domain = "{{ traefik_domain }}"
  watch = true
  exposedbydefault = false

{% if traefik_frontends | default(False) or traefik_backends | default(False) or traefik_certificates | default(False) %}
[file]
  watch = true
{% endif %}

{% if traefik_backends | default(False) %}
[backends]
{% for backend in traefik_backends %}
  [backends.{{ backend.name }}]
    [backends.{{ backend.name }}.servers]
{% for server in backend.servers %}
      [backends.{{ backend.name }}.servers.{{ loop.index }}]
        url = "{{ server.url }}"
{% endfor %}
{% if backend.healthcheck | default(False) %}
    [backends.{{ backend.name }}.healthcheck]
      path = "{{ backend.healthcheck.path | default("/health") }}"
      interval = "{{ backend.healthcheck.interval | default("30s") }}"
      {% if backend.healthcheck.hostname is defined %}hostname = "{{ backend.healthcheck.hostname }}"{% endif %}
      {% if backend.healthcheck.port is defined %}port = "{{ backend.healthcheck.port }}"{% endif %}
      {% if backend.healthcheck.schema is defined %}schema = "{{ backend.healthcheck.schema }}"{% endif %}
{% endif %}
{% endfor %}

{% endif %}
{% if traefik_frontends | default(False) %}
[frontends]
{% for frontend in traefik_frontends %}
  [frontends.{{ frontend.name }}]
{% if frontend.backend | default(False) %}
    backend = "{{ frontend.backend }}"
{% endif %}
{% if frontend.entrypoints | default(False) %}
    entrypoints = [{% for e in frontend.entrypoints %}"{{ e }}"{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}
    passHostHeader = {{ frontend.pass_header | default(True) | lower }}
{% if frontend.priority | default(False) %}
    priority = {{ frontend.priority }}
{% endif %}
{% if frontend.rules | default(False) %}
    [frontends.{{ frontend.name }}.routes]
{% for rule in frontend.rules | default([]) %}
      [frontends.{{ frontend.name }}.routes.{{ loop.index }}]
        rule = "{{ rule }}"
{% endfor %}
{% endif %}
{% if frontend.redirect | default(False) %}
    [frontends.{{ frontend.name }}.redirect]
{% if frontend.redirect.entrypoint | default(False) %}
      entryPoint = "{{ frontend.redirect.entrypoint }}"
{% endif %}
      regex = "{{ frontend.redirect.regex }}"
      replacement = "{{ frontend.redirect.replacement }}"
      permanent = {{ frontend.redirect.permanent | default(False) | lower }}
{% endif %}
    [frontends.{{ frontend.name }}.headers]
      forceSTSHeader = true
      STSIncludeSubdomains = false
      STSPreload = true
      STSSeconds = 315360000
      referrerPolicy = "strict-origin-when-cross-origin"
      customFrameOptionsValue = "SAMEORIGIN"
      browserXSSFilter = true
      contentTypeNosniff = true
{% endfor %}
{% endif %}
{% if traefik_certificates | default(False) %}

{% for certificate in traefik_certificates %}
[[tls]]
{% if certificate.entrypoints | default(False) %}
  entryPoints = ["{{ certificate.entrypoints | join('", "') }}"]
{% endif %}
  [tls.certificate]
    certFile = "{{ certificate.crt }}"
    keyFile = "{{ certificate.key }}"
{% endfor %}
{% endif %}
