[Unit]
Description=Traefik

Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10s
EnvironmentFile=/etc/environment

ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStartPre=/usr/bin/docker pull library/traefik:1.7.14-alpine
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --label traefik.enable=false \
  --env-file /etc/default/traefik \
  --network traefik \
  --volume /etc/ssl:/etc/ssl:ro \
  --volume /etc/traefik:/etc/traefik \
  --volume /var/run/docker.sock:/var/run/docker.sock \
  --health-cmd '/usr/local/bin/traefik healthcheck -c /etc/traefik/config.toml' \
  --health-interval 10s \
  --health-retries 20 \
  --health-timeout 10s \
  --publish 8000:8000 \
  --publish 80:80 \
  --publish 443:443 \
{% for port in traefik_ports %}
  --publish {{ port }} \
{% endfor %}
  library/traefik:1.7.14-alpine \
  -c /etc/traefik/config.toml

[Install]
WantedBy=multi-user.target
